body {
  font-family: "Ibarra Real Nova", serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
.col-area {
  height: 250px !important;
}
.image-size {
  height: 250px;
}
.column-1 {
  width: 48%;
}
.details-text {
  font-size: 12px;
}
.footer-section {
  height: 450px;
}
.footer-content {
  padding-top: 130px;
}
@media screen and (max-width: 688px) {
  .slider-text-area {
    padding-bottom: 180px;
  }
  .slider-text-1 {
    font-size: 20px;
  }
  .slider-text-2 {
    font-size: 10px;
  }
  .slider-button {
    font-size: 12px;
  }
  .column-1 {
    width: 100%;
  }
  .footer-section {
    height: 350px;
  }
  .footer-content {
    padding-top: 90px;
    width: 80%;
  }
}
@media screen and (min-width: 689px) and (max-width: 1024px) {
  .slider-text-area {
    padding-bottom: 300px;
  }
  .column-1 {
    width: 100%;
  }
  .footer-section {
    height: 350px;
  }
  .footer-content {
    padding-top: 90px;
  }
}
